name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key PMAK-6909fd258f388d000189e9fb-f56b2973ba009b4508ee6fd19d8b989409
      - name: Run API tests
        run: |
          postman collection run "11492988-c5012745-3d76-4e52-9239-d341b6145615"
